<header id="header" class="header fixed-top d-flex align-items-center">
  <nav class="navbar d-flex align-items-center justify-content-between">
    <%= link_to( root_path, class: 'd-flex align-items-center' )do %>
      <span class="d-none d-lg-block">TeamsChallenge</span>
    <%end%>
    <%= icon('fa-solid', 'bars toggle-sidebar-btn')%>
    <div class="col text-right p-0">
      logged user
    </div>
  </nav>
</header>