<% content_for :page_title do %>
  <nav>
    <ol class="breadcrumb admin">
      <li class="breadcrumb-item active">
      <%= icon('fa-solid', 'house')%>
       HOME
      </li>
    </ol>
  </nav>
<% end %>